{% extends "base.html" %}

{% block content %}

<body>
    <h1>О нас</h1>
    <p></p>
    <style>
        .image-container {
            width: 500px; 
            height: 500px; 
            overflow: hidden; 
        }
        .card-img-top {
            width: 100%; 
            height: 100%; 
            object-fit: cover; 
        }
    </style>
    <div class="image-container">
        <img src="/pictures/shop.jpg" class="card-img-top" alt="Фото магазина">
    </div>
    <p></p>
    <p>Наш магазин автозапчастей возглавляет опытный и увлеченный автомобилист, который всю свою жизнь посвятил автомобилям и всему, что с ними связано. Как владелец и директор, он не просто управляет бизнесом — он сам активно следит за качеством продукции и сервисом, который предоставляется каждому клиенту. В его работе всегда присутствуют внимание к деталям и ответственность, ведь он прекрасно понимает, как важен каждый компонент для автомобиля.</p>
    <p>Свою любовь к автомобилям и технике он перенес в работу, и именно поэтому наш магазин стремится предоставлять только самые лучшие запчасти и аксессуары для всех типов автомобилей. Его профессионализм и безупречная репутация заслуженно привлекли большое количество постоянных клиентов, которые доверяют своему автомобилю и выбору нашего магазина.</p>
    <p>Директор всегда ориентирован на результат, готов решать любые вопросы, связанные с подбором запчастей, а также нацелен на создание комфортных условий для покупателей. Важно, что он всегда на связи, чтобы гарантировать высокое качество обслуживания и точность в исполнении каждого заказа.</p>
    <p>Для него каждый клиент — это не просто покупатель, а партнер, который может рассчитывать на внимательное отношение, точные рекомендации и надежное обслуживание. Если вы хотите доверить свой автомобиль профессионалам, наш магазин — это место, где ценят каждую деталь и заботятся о вашем авто так же, как и вы.</p>
    <p>Наш магазин автозапчастей успешно работает на рынке более 20 лет, предоставляя клиентам качественные товары и высокий уровень обслуживания.</p>
    <p></p>
    <h2>Мы предлагаем:</h2>
    <ul>
        <li>запчасти для ТО;</li>
        <li>аккумуляторы и принадлежности;/li>
        <li>Масла и жидкости:</li>
        <li>автокосметика и автохимия;</li>
        <li>аксессуары;</li>
        <li>автомобильный инструмент;</li>
        <li>лампы;</li>
        <li>щетки;</li>
        <li>качественный подбор запчастей.</li>
    </ul>
    <p>Наш многолетний опыт и профессионализм позволяют нам оперативно находить решения для самых сложных задач. Мы гарантируем высокое качество товаров и конкурентные цены.</p>
    <p></p>
    <h2>Автозапчасти и другие товары Вы можете купить:</h2>
    <p></p>
    <ul>
        <li>за наличный расчет;</li>
        <li>по безналичному расчету;</li>
        <li>через оплату банковскими картами.</li>
    </ul>
    <p></p>
    <h3>Доверьтесь профессионалам – ваш автомобиль заслуживает лучшего!</h3>
    <p></p>
</body>

{% endblock %}
