
{% extends "base.html" %}

{% block content %}

<body>
    <h1>Доставка</h1>
    <p></p>
    <h2>Стоимость доставки</h2>
    <p>Доставка товаров в пределах МКАД составит всего 250 руб.</p>
    <p>Также мы можем доставить товар за пределы МКАД (зона доставки ограничивается Московским Малым кольцом) из расчета 50 рублей за километр от Московской кольцевой автомобильной дороги.</p>
    <p>Более подробную информацию по услуге и ее стоимости можно получить у специалистов по телефону + 7 (999) 999-99-99.</p>
    <p></p>
    <h2>Время доставки</h2>
    <p>Время доставки согласовывается с менеджером Службы доставки, который обязательно свяжется с вами после того, как вы разместите свой заказ.</p>
    <p><strong>Внимание!</strong> Неправильно указанный номер телефона, неточный или неполный адрес могут привести к дополнительной задержке! Пожалуйста, внимательно проверяйте ваши персональные данные при регистрации и оформлении заказа. Конфиденциальность ваших регистрационных данных гарантируется.</p>
    <p>Заказы обрабатываются по рабочим дням с 09:00 до 20:00 часов, субб. и вск. с 10:00 до 18:00 часов.</p>
    <p>Доставка товаров осуществляется на следующий рабочий день с 10:00 до 18:00 часов, в субботу с 10:00 до 18:00 часов.</p>
    <p></p>
    <h2>Выдача заказа в магазине</h2>
    <p>Выдача заказа интернет-магазина в точках выдачи: осуществляется ежедневно с 8:00 до 23:00.</p>
    <p></p>
    <h2>Мы постараемся доставить Ваш заказ в удобное вам время</h2>
    <p></p>
    <h2>Место доставки</h2>
    <p>Зона доставки заказов курьером ограничивается Московским Малым кольцом. Доставка осуществляется по адресу, указанному при оформлении заказа. Если необходимо доставить товар по иному адресу, необходимо сообщить адрес менеджеру Службы доставки, который свяжется с вами непосредственно после оформления заказа на сайте.</p>
    <p>В обязанность водителя-экспедитора входит доставка товара до подъезда (офиса, гаража и т.д.). Дальнейшее перемещение товара обеспечивает покупатель.</p>
    <p></p>
    <h2>Правила</h2>
    <p>Пожалуйста, во избежание задержек и недоразумений, постарайтесь расплатиться за товар без сдачи.</p>
    <p>При доставке вам будут переданы все необходимые документы на покупку: товарный, кассовые чеки. Цена, указанная в переданных вам курьером документах, является окончательной, курьер не обладает правом корректировки цены. Стоимость доставки выделяется в документах на покупку отдельной графой.</p>
    <p><strong>Внимание!</strong> Просим вас помнить, что все технические параметры и потребительские свойства приобретаемого товара вам следует уточнять у нашего менеджера до момента покупки товара. В обязанности работников Службы доставки не входит осуществление консультаций и комментариев относительно потребительских свойств товара. При доставке вам заказанного товара проверяйте комплектность доставленного товара, работоспособность товара, соответствие доставленного товара описанию на нашем сайте, также проверьте товар на наличие механических повреждений. При не заявлении вами при получении товара претензий по поводу механических повреждений, в дальнейшем подобные претензии не рассматриваются.</p>
    <p></p>
    <h2>Доставка в другие регионы России</h2>
    <p>Для доставки в другие регионы России стоимость и сроки оговариваются отдельно. Пожалуйста, свяжитесь с нами для получения подробной информации.</p>
    <p></p>
</body>


    <!-- Bootstrap JS and dependencies -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>

{% endblock %}