{% extends "base.html" %}

{% block content %}
<h1>Добро пожаловать в магазин автозапчастей!</h1>
<p class="lead">Мы предлагаем широкий ассортимент запчастей для вашего автомобиля по доступным ценам.</p>
<p></p>
<div class="container mt-4">
    <h1>Мы предлагаем:</h1>
    <div class="row">
        <div class="col-md-4">
            <div class="card">
                <img src="/pictures/filters.jpg" class="card-img-top" alt="Запчасти для ТО">
                <div class="card-body">
                    <h5 class="card-title">Запчасти для ТО</h5>
                    <p class="card-text">Фильтры, масла, тормозные колодки и ремни и многое другое для регулярного обслуживания автомобиля всегда в наличии.</p>
                    <a href="/api/products/filters/" class="btn btn-primary">Подробнее</a>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card">
                <img src="/pictures/battery.jpg" class="card-img-top" alt="Аккумуляторы">
                <div class="card-body">
                    <h5 class="card-title">Аккумуляторы и принадлежности</h5>
                    <p class="card-text">Надежные аккумуляторы для всех типов автомобилей, зарядные устройства и другие принадлежности.</p>
                    <a href="/api/products/batteries/" class="btn btn-primary">Подробнее</a>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card">
                <img src="/pictures/oil.jpg" class="card-img-top" alt="Масла и жидкости">
                <div class="card-body">
                    <h5 class="card-title">Масла и жидкости</h5>
                    <p class="card-text">Высококачественные масла и жидкости для автомобилей, включая моторные и трансмиссионные масла.</p>
                    <a href="/api/products/oils/" class="btn btn-primary">Подробнее</a>
                </div>
            </div>
        </div>
    </div>
    <div class="row mt-4">
        <div class="col-md-4">
            <div class="card">
                <img src="/pictures/cosmetics.jpg" class="card-img-top" alt="Автокосметика">
                <div class="card-body">
                    <h5 class="card-title">Автокосметика и автохимия</h5>
                    <p class="card-text">Широкий выбор товаров для ухода за автомобилем: шампуни, полироли, средства для салона и кузова.</p>
                    <a href="/api/products/cosmetics/" class="btn btn-primary">Подробнее</a>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card">
                <img src="/pictures/accessories.jpg" class="card-img-top" alt="Аксессуары">
                <div class="card-body">
                    <h5 class="card-title">Аксессуары</h5>
                    <p class="card-text">Коврики, чехлы, подушки, держатели для телефонов и другие товары для комфортных поездок.</p>
                    <a href="/api/products/accessories/" class="btn btn-primary">Подробнее</a>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card">
                <img src="/pictures/tools.jpg" class="card-img-top" alt="Инструменты">
                <div class="card-body">
                    <h5 class="card-title">Автомобильный инструмент</h5>
                    <p class="card-text">Профессиональный и бытовой инструмент для автолюбителей: наборы инструментов, домкраты и многое другое.</p>
                    <a href="/api/products/tools/" class="btn btn-primary">Подробнее</a>
                </div>
            </div>
        </div>
    </div>
    <div class="row mt-4">
        <div class="col-md-4">
            <div class="card">
                <img src="/pictures/lights.jpg" class="card-img-top" alt="Лампы">
                <div class="card-body">
                    <h5 class="card-title">Лампы</h5>
                    <p class="card-text">Автолампы для различных типов автомобилей: галогенные, светодиодные и ксеноновые.</p>
                    <a href="/api/products/lights/" class="btn btn-primary">Подробнее</a>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card">
                <img src="/pictures/wipers.jpg" class="card-img-top" alt="Щетки">
                <div class="card-body">
                    <h5 class="card-title">Щетки</h5>
                    <p class="card-text">Дворники для очистки стекол от воды, снега и загрязнений.</p>
                    <a href="/api/products/wipers/" class="btn btn-primary">Подробнее</a>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card">
                <img src="/pictures/parts.jpg" class="card-img-top" alt="Запчасти">
                <div class="card-body">
                    <h5 class="card-title">Качественный подбор запчастей</h5>
                    <p class="card-text">Подбор автозапчастей для всех марок и моделей автомобилей.</p>
                    <a href="/api/products/parts/" class="btn btn-primary">Подробнее</a>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}
