{% extends "base.html" %}

{% block content %}

<body>
    <h2>Как добраться</h2>
    <p></p>
    <h3>Из любой точки на машине:</h3>
    <p></p>
    <p>Нужно ввести адрес магазина в навигаторе: г.Москва, Белореченская улица, 22/66</p>
    <p>Также можете восспользоваться ссылкой на <a href="https://yandex.ru/maps/213/moscow/?ll=37.768695%2C55.665584&mode=poi&poi%5Bpoint%5D=37.768575%2C55.665651&poi%5Buri%5D=ymapsbm1%3A%2F%2Forg%3Foid%3D86055035670&z=20.41" target="_blank">Яндекс.Карты</a>, чтобы увидеть маршрут до Белореченская улица, 22/66.</p>
    <p></p>
    <div class="mb-5">
        <h3>От метро Марьино:</h3>
        <p></p>
        <h4>Пешком</h4>
        <ol>
            <li>Выйдите из метро через северный вестибюль (ближе к Белореченской улице).</li>
            <li>Идите в сторону улицы Люблинская, поверните направо.</li>
            <li>Пройдите примерно 500 метров до пересечения с Белореченской улицей.</li>
            <li>Поверните налево на Белореченскую улицу и идите до дома №22/66 (около 10 минут пешком).</li>
        </ol>
        <h4>На автобусе</h4>
        <ul>
            <li>Сядьте на автобус <strong>№112</strong> или <strong>№280</strong> от остановки "Метро Марьино".</li>
            <li>Выйдите на остановке "Белореченская улица, 22".</li>
            <li>Пройдите 2–3 минуты пешком до адреса.</li>
        </ul>
    </div>
    <div class="mb-5">
        <h3>От метро Братиславская:</h3>
        <p></p>
        <h4>Пешком</h4>
        <ol>
            <li>Выйдите из метро через южный вестибюль.</li>
            <li>Идите в сторону улицы Перерва и поверните направо.</li>
            <li>Пройдите до пересечения с Белореченской улицей (около 800 метров пешком).</li>
            <li>Поверните направо на Белореченскую улицу и идите до дома №22/66.</li>
        </ol>
        <h4>На автобусе</h4>
        <ul>
            <li>Сядьте на автобус <strong>№657</strong> или <strong>№280</strong> от остановки "Метро Братиславская".</li>
            <li>Выйдите на остановке "Белореченская улица, 22".</li>
            <li>Пройдите около 3 минут пешком до дома.</li>
        </ul>
    </div>
    <p></p>
    <h3>Расположение магазина на карте</h3>
    <p></p>
    <div id="map" style="width: 100%; height: 400px;"></div>
    <script src="https://api-maps.yandex.ru/2.1/?lang=ru_RU&apikey=4ab8b86e-0179-40f1-8405-223ff16ebaa3" type="text/javascript"></script>
    <script>
        ymaps.ready(function () {
            var myMap = new ymaps.Map("map", {
                center: [55.665553, 37.768579], 
                zoom: 16.86,
                controls: ['zoomControl', 'typeSelector', 'fullscreenControl']
            });

            var myPlacemark = new ymaps.Placemark([55.665553, 37.768579], {
                balloonContent: 'Belorechenskaya Ulitsa, 22-66'
            });

            myMap.geoObjects.add(myPlacemark);
        });
    </script>
    <p></p>
</body>

{% endblock %}    